@import "./variables";

.artsliderContainer {
    padding-bottom: 20%;
}

.artSlider {
    width: 65%;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.backgroundArtSlider {
    margin-top: -200px;
    position: absolute;
    overflow: hidden;
    left: 0;
}

.sliderNav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.sliderNavButton {
    width: 50px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.336);
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.336);
        }
}

.sliderRadioButtons {
    visibility: hidden;
    position: absolute;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.backgroundSlides {
    width: 500%;
    height: 100%;
    display: flex;
}

.sliderArtSheetContainer {
    width: 20%;
    transition: 0.5s ease-in-out;
}

.backgroundSliderArtSheetContainer {
    width: 20%;
    filter: blur(10px);
    transition: 0.5s ease-in-out;
}

.sliderArtSheet {
    width: 100%;
    // height: 100%;
}

#sliderRadioButton1:checked ~ #firstSheet {
    margin-left: 0%;
}

#sliderRadioButton2:checked ~ #backgroundFirstSheet {
    margin-left: -20%;
}

#sliderRadioButton2:checked ~ #firstSheet {
    margin-left: -20%;
}

#sliderRadioButton3:checked ~ #firstSheet {
    margin-left: -40%;
}

#sliderRadioButton4:checked ~ #firstSheet {
    margin-left: -60%;
}

#sliderRadioButton5:checked ~ #firstSheet {
    margin-left: -80%;
}



// @keyframes blackWhite {  
//     0% { margin-left: -0%; }
//     20% { margin-left: -20%; }
//     40% { margin-left: -40%; }
//     60% { margin-left: -60%; }
//     80% { margin-left: -80%; }
//   }
  
// #firstSheet {
//     animation-name: blackWhite;
//     animation-iteration-count: infinite;
//     animation-duration: 10s; 
// }