@import "./variables";

#header {
    background-color: $HeaderColor;
    margin: 1%;
    border-radius: 10px;
}

.logoSmall {
    width: 150px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}



//below is for the select/navigation menu slider
#navigationMenu {
    background-color: rgba(0, 0, 255, 0.295);
    margin: 10px;
    padding: 0;
    float: left;
    // display: grid;
    // grid-template-rows: repeat(1, 50px, 3fr);
    // display: none;
}

.navLink {
    @include NavButtons
}

//below is for the header buttons
#optionsButton {
    float: right;
}

#selectButton {
    float: left;
}

.headerMainButtons {
    display: inline;
    text-align: center;
    margin: 10px 10px 10px 10px;
    p {
        margin: 0;
    }
    button {
        background-color: rgb(19, 19, 19);
        border: 0;
        padding: 0;
        height: 50px;
        width: 25px;
        border-radius: 50px;
        box-shadow: 3px 3px #999999, inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
        &:hover {
            background-color: #2c2c2c;
        }
        &:active {
            box-shadow: inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
            transform: translate(3px, 3px);
        }
        &:focus {
            outline: 0;
        }
    }
}