@import "./variables";

.beta {
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: -40px;
    font-size: $FontSizeHuge;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.13);
}

.mediaBars {
    z-index: 1;
    position: fixed;
    bottom: 40px;
    width: 200px;
    right: -125px;
}

.socialMediaPicture {
    width: 20px;
}

.socialMediaSingleBar {
    list-style-type: none;
    padding: 7px;
    transition-duration: 0.5s;
    border-radius: 5px;
    margin: 3px;
}

.mediaBarText {
    padding-left: 15px;
    text-decoration: none;
    color: white;
}
  
.socialMediaSingleBar:hover {
    transform: translate(-120px);
}

#githubBar {
    background-color: $GithubColor;
}

#artstationBar {
    background-color: $ArtstationColor;
}

#linkedinBar {
    background-color: $LinkedinColor;
}

#emailBar {
    background-color: $EmailColor;
}

//below is for my full logo at the left bottom
.logoFullButton {
    z-index: 1;
    position: fixed;
    bottom: 10px; 
    margin-left: 5px;
        &:hover > .logoFullText {
            opacity: 1;
            @include TypingAnimation;
        }
}

.logoFull {
    width: 400px;
}

.logoFullText {
    font-size: 9px;
    margin: -8px 0 2px 10px;
    opacity: 0;
}