@import "./variables";

#blurBackground {
    position: fixed;
    background-color: rgba(20, 20, 20, 0.781);
    backdrop-filter: blur(5px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#OptionsMenu {
    z-index: 1;
    position: fixed;
    top: 15%;
    left: 5%;
    bottom: 10%;
    right: 10%;
}

.optionsButtonContainer {
    margin: 10px auto 0px auto;
    width: 90%;
    padding: 5px;
        &:hover { 
        color: rgba(128, 128, 128, 0.356);
        cursor: pointer;
            & .explainText {
                opacity: 1;
                @include TypingAnimation;
            }
        }
}

.optionsButtonUi {
    width: 400px;
    position: fixed;
    margin: 0;
}

.optionsMenuButton {
    display: block;
    text-align: center;
    margin: 10px auto 0px auto;
    font-size: $FontSizeSmall;
}

.explainText {
    margin: 25px 0 0 50px;
    font-size: $FontSizeMini;
    opacity: 0;
}



//Credits
.credits {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(20px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#creditsFunctions {
    font-size: $FontSizeBig;
    width: 50%;
    text-align: right;
    margin: 50px;
}

.creditsTextContainer {
    position: relative;
    animation-name: credits;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#creditsFunctionAndNames {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}

.paused {
    animation-play-state: paused;
}

#creditsNames {
    font-size: $FontSizeBig;
    width: 50%;
    margin: 50px;
}

.creditTexts {
    margin-top: 75px;
}

.creditsButton {
    padding: 10px;
    position: fixed;
    bottom: 5%;
    width: 100px;
    text-align: center;
        &:hover {
            color: rgba(131, 131, 131, 0.575);
            cursor: pointer;
        }
}

#endCreditsButton {
    right: 10%;
}

#pauzeCreditsButton {
    left: 10%;
}

.creditsButtonUi {
    position: fixed;
    width: 120px;
    margin: -45px 0 0 -60px;
}

.creditTextMargin {
    margin: 150px;
    padding: 150px;;
}

#creditsHeader {
    font-size: $FontSizeHuge;
    text-align: center;
    width: 100%;
}

#creditsFooterHeader {
    font-size: $FontSizeHuge;
    text-align: center;
    width: 100%;
}

#creditFooter {
    font-size: $FontSizeMedium;
    text-align: center;
    width: 100%;
}