@import "./variables";

#OptionsMenu {
    position: fixed;
    top: 15%;
    left: 10%;
    bottom: 10%;
    right: 10%;
}

.optionsButtonContainer {
    @include GlowBorder;
    margin: 40px auto 0px auto;
    width: 400px;
    padding: 5px;
        &:hover { 
        background-color: rgba(128, 128, 128, 0.356);
        cursor: pointer;
            & .explainText {
                opacity: 1;
                @include TypingAnimation;
            }
        }
}

.optionsMenuButton {
    display: block;
    text-align: center;
    margin: 5px auto 0px auto;
    font-size: 20px;
}

.explainText {
    margin: 0px 0 0px 5px;
    font-size: 10px;
    opacity: 0;
}