@import "./header";
@import "./variables";
@import "./mediaBars";
@import "./optionsMenu";
@import "./loadingIcon";
@import "./artSlider";
@import "./scrollBar";
@import "./background";

@font-face {
    font-family: 'Mass Effect Game 123';
    src: local('Mass Effect Game 123'), url('../Fonts/MassEffectFont.ttf') format('ttf');
}

body {
    background-image: url("../Images/BackgroundNoAnim2.jpg"); 
    color: white;
    background-size: 100%;
    margin: 200px 10px 0 10px;
    padding-bottom: 30px;
    // font-family: 'Mass Effect Game 123';
}

//Home Page
#WIP {
    text-align: center;
    font-size: 50px;
    margin: 150px 0 150px 0;
    padding: 20px;
    border: solid 25px yellow;
    background: black;
}

.headerPageName {
    position: fixed;
    font-size: 35px;
    opacity: 0.5;
    margin-top: -200px;
    margin-left: 150px;
}

#starWarsIntro {
    border: solid rgb(4, 0, 255) 5px;
    height: 650px;
    padding: 20px 50px 20px 50px;
    margin: 0px 10% 150px 10%;
}

.pageText {
    background: $ButtonBackground;
    padding: 20px 50px 20px 50px;
    margin: 100px 10% 20px 10%;
}

#homeTextHeader {
    font-size: 35px;
    margin: 0;
    text-align: center;
}

.homeFooter {
    background: $ButtonBackground;
    padding: 10px;
    padding-bottom: 40px;
    margin: 3% 0 0 0;
}

.homeIconsContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.homeIconDiv {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 20px;
    text-align: center;
}

.programIcon {
    width: 100px;
    height: 100px;
    margin: 0px;
    transition-duration: 0.5s;
    &:hover {
     width: 150px;
     height: 150px;   
    }
    &:hover + .iconName {
        font-size: $FontSizeMedium;
    }
}

.iconName {
    margin: 0;
    transition-duration: 0.5s;
}

//about me page
#aboutMeIntro {
    background: $ButtonBackground;
    padding: 20px 50px 20px 50px;
    margin: 100px 10% 20px 10%;
}

#characterImg {
    width: 500px;
}

#characterSkills {
    margin: 0 20px 0 20px;
    font-size: $FontSizeBig;
}

#characterSheet {
    display: flex;
}

#mySoftwareSkillsContainer {
    background: $ButtonBackground;
    padding: 20px 50px 40px 50px;
    margin: 100px 10% 20px 10%;
}

#mySoftwareSkills {
    display: flex;
}

#mySoftwareSkillsHeader {
    width: 100%;
    font-size: $FontSizeHuge;
    text-align: center;
}

#mySoftwareSkillsText {
    width: 35%;
    font-size: $FontSizeBig;
    padding: 5%;
}

.mySoftwareSkillsIcons {
    display: grid;
    grid-template-columns: 40% 40% 40%;
}

.homeIconDiv {
    padding: 20px;
    margin: 20px;
}

.wincDiploma {
    width: 30%;
    margin: 50px 35% 50px 35%;
    border: solid gold 5px;
    box-shadow: 0px 0px 10px 5px rgb(255, 217, 0);
}

#aboutMeFooter {
    background: $ButtonBackground;
    font-size: $FontSizeBig;
    padding: 10px;
    display: flex;
}

.headshot {
    width: 25%;
    border-radius: 20%;
    margin: 20px 10% 20px 20px;
}

//dedicated art page
.artHeader {
    background: $ButtonBackground;
    margin: 0px 20% 20px 20%;
    padding: 10px;
}

.headerArtSheet {
    width: 100%;
}

.artHeaderDescription {
    margin: 20px 10px 20px 10px;
}

.artSheet {
    width: 70%;
    margin: 5% 15% 5% 15%;
}





.credits {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.781);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#creditsFunctions {
    font-size: $FontSizeBig;
    width: 50%;
    text-align: right;
    margin: 50px;
}

.creditsTextContainer {
    position: relative;
    animation-name: credits;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#creditsFunctionAndNames {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}

.paused {
    animation-play-state: paused;
}

#creditsNames {
    font-size: $FontSizeBig;
    width: 50%;
    margin: 50px;
}

.creditTexts {
    margin-top: 75px;
}

.endCreditsButton {
    @include GlowBorder;
    padding: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
        &:hover {
            background-color: rgba(131, 131, 131, 0.575);
            cursor: pointer;
        }
}

#pauzeCreditsButton {
    @include GlowBorder;
    padding: 10px;
    position: fixed;
    left: 20px;
    bottom: 20px;
        &:hover {
            background-color: rgba(131, 131, 131, 0.575);
            cursor: pointer;
        }
}

.creditTextMargin {
    margin: 150px;
    padding: 150px;;
}

#creditsHeader {
    font-size: $FontSizeHuge;
    text-align: center;
    width: 100%;
}

#creditsFooterHeader {
    font-size: $FontSizeHuge;
    text-align: center;
    width: 100%;
}

#creditFooter {
    font-size: $FontSizeMedium;
    text-align: center;
    width: 100%;
}