@import "./header";
@import "./variables";
@import "./mediaBars";
@import "./optionsMenu";
@import "./websiteLogo";
@import "./artSlider";
@import "./scrollBar";
@import "./background";
@import "./mediaSize";

@font-face {
    font-family: 'Mass Effect Game 123';
    src: local('Mass Effect Game 123'), url('../Fonts/MassEffectFont.ttf') format('ttf');
}

body {
    background: linear-gradient(90deg, rgb(13, 47, 92) 0%, rgb(15, 15, 15) 100%);
    color: white;
    margin: 200px 10px 100px 10px;
    padding-bottom: 30px;
}

.list li {
    list-style-type: none;
    background: url('../Images/UI/sideBar.png') no-repeat left 5px;
    background-size: 25px;
    padding-left: 30px;
    margin-top: 5px;
    display: block;
}

.headerPageName {
    z-index: 1;
    position: fixed;
    font-size: $FontSizeSmall;
    opacity: 0.5;
    margin-top: -190px;
    margin-left: 80px;
    height: 0px;
}

.backgroundDivTitles {
    position: absolute;
    font-size: 20vw;
    color: rgba(173, 173, 173, 0.151);
    margin-top: -80px;
    z-index: -1;
    text-align: center;
    width: 450px;
}

//Intro Page
.introPage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(15, 15, 15) 0%, rgb(13, 47, 92) 100%);
    z-index: 2;
}

.introLogo {
    height: 75px;
    display: block;
    top: 35px;
    transform: translateX(-50%);
    left: 50%;
    position: fixed;
}

#starWarsIntro {
    width: 80%;
    height: 500px;
    padding: 5%;
    margin: 50px auto 0 50%;
    transform: translateX(-50%);
    text-align: center;
}

.introText {
    text-align: center;
    font-size: $FontSizeHeader;
    margin: 0;
}

.introLogo {
    height: 80%;
    position: absolute;
}

#introWarning {
    text-align: center;
    margin: 100px auto;
    width: auto;
    font-size: 8vw;
    border: solid rgb(253,235,29);
}

.introContinueButton {
    font-size: 25px;
    position: fixed;
    bottom: 50px;
    transform: translateX(-50%);
    left: 50%;
}

.introContinueButtonUi {
    z-index: -1;
    width: 300px;
    position: absolute;
    margin: -5px 0 0 -200px;
    
}

//Home Page
.homePageText {
    @include divBackground; 
    padding: 50px 10px 50px 10px;
    margin: 50px 5% 20px 5%;
}

#homeTextHeader {
    font-size: $FontSizeBig;
    margin: 0;
    text-align: center;
}

.homeTextContent {
    font-size: $FontSizeMedium;
}

.homeFooter {
    @include divBackground; 
    padding: 10px;
    padding-bottom: 40px;
    margin: 5% 0 0 0;
    font-size: $FontSizeMedium;
    text-align: center;
}

.homeIconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.homeIconDiv {
    width: 50px;
    height: 50px;
    font-size: $FontSizeSmall;
    margin: 20px;
    padding: 20;
    text-align: center;
}

.programIcon {
    width: 50px;
    height: 50px;
    margin: 0;
    transition-duration: 0.5s;
    &:hover {
     width: 75px;
     height: 75px;   
    }
    &:hover + .iconName {
        font-size: $FontSizeMedium;
    }
}

.iconName {
    margin: 0;
    transition-duration: 0.5s;
}

//about me page
#aboutMeIntro {
    @include divBackground;
}

#characterImg {
    height: 400px;
    margin: 300px 0 0 0;
}

#characterSkills {
    margin: 10px 0 0 0px;
    font-size: $FontSizeMedium;
}

#characterSkillsHeader {
    margin-top: -15px;
    margin-left: -170px;
}

.list img {
    width: 100%;
}

.skillsProcentage {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-size: $FontSizeSmall;
}

.aboutMeQuotes {
    margin: 20% 5% 20% 5%;
}

.quoteContainer {
    @include divBackground;
    background-color: rgba(0, 140, 255, 0.151);
    width: 300px;
    margin-top: 100px;
    padding: 5px 30px;
    border-radius: 10px;
}

#quote2 {
    margin-left: auto;
    margin-right: 0;
}

.quoteText {
    font-size: $FontSizeBig;
}

.quotePerson {
    font-style: oblique;
    font-size: $FontSizeMedium; 
    text-align: end;
    &:before {
        display: inline-block;
        content: "";
        border-top: 3px solid rgb(255, 255, 255);
        width: 60px;
        margin-right: 10px ;
        transform: translateY(-5px);
    }
}

#characterSheet {
    display: flex;
}

#mySoftwareSkillsContainer {
    @include divBackground; 
    padding: 0;
    margin: 40% 0 40% 0;
}

#mySoftwareSkills {
    display: inline;
    margin: 0;
}

#mySoftwareSkillsHeader {
    width: 100%;
    font-size: $FontSizeBig;
    text-align: center;
}

#mySoftwareSkillsText {
    width: 100%;
    font-size: $FontSizeMedium;
    padding: 0;
}

.mySoftwareSkillsIcons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.aboutMeIconDiv {
    width: 70px;
    height: 70px;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: $FontSizeMini;
    & img {
        width: 70px;
        height: 70px;
        margin: 0px;
        transition-duration: 0.5s;
        &:hover {
         width: 100px;
         height: 100px;   
        }
        &:hover + .iconName{
            font-size: $FontSizeMedium;
        }
    }
}

.diplomaContainer {
    margin: 30% 5%;
}

.wincDiploma {
    width: 60%;
    border: solid gold 2px;
    box-shadow: 0px 0px 5px 2px rgb(255, 217, 0);
    margin-left: 50%;
    transform: translateX(-50%);
}

#aboutMeFooter {
    @include divBackground; 
    padding: 10px;
    font-size: $FontSizeMedium;
    display: inline;
    & p {
        margin-right: 30px;
    }
}

.headshot {
    height: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20%;
}

//dedicated art page
.artHeader {
    @include divBackground; 
    margin: 0 0 20% 0;
    padding: 10px;
}

.headerArtSheet {
    width: 100%;
}

.artHeaderDescription {
    margin: 20px 10px 20px 10px;
}

.artSheet {
    width: 100%;
    margin: 10% 50%;
    transform: translateX(-50%);
    transition-duration: 1s;
}

.landstalkerColorButtonsContainer {
    margin: -10% 0 0 50%;
    transform: translateX(-50%);
    display: flex;
}

.landstalkerColorButton {
    margin: 0 0 0 25%;
    transform: translateX(-50%);
    &:hover {
        cursor: pointer;
        color: gray;
    }
    & p {
        width: 100px;
        font-size: $FontSizeSmall;
        text-align: center;
    }
    & img {
        position: absolute;
        margin: -50px 0 0 45px;
        width: 100px;
        }
}