@-webkit-keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

#header {
  margin: -175px 0px 10px 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logoFull3 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 150px;
  top: 0px;
}

#navigationMenu {
  float: left;
  margin-left: 20px;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 15px;
  padding: 5px;
}

.routingMenuUi {
  z-index: -1;
  width: 120px;
  position: fixed;
  margin-top: -23px;
  margin-left: -130px;
}

#routingMenuUiR {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  float: right;
  margin-left: -90px;
}

.navButton {
  float: left;
  width: 100px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.navButtonText {
  text-decoration: none;
  color: white;
  text-align: center;
  float: left;
  width: 100px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.navButtonText:hover {
  color: rgba(43, 43, 43, 0.432);
}

.routingButtonUi {
  z-index: -1;
  width: 120px;
  position: fixed;
  margin-left: -110px;
  margin-top: -10px;
}

#optionsButton {
  float: right;
  width: 60px;
  margin-right: 35px;
}

#optionsButton img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#selectButton {
  float: left;
  width: 60px;
  margin-left: 0px;
}

.headerButtonUi {
  width: 90px;
  position: fixed;
  margin: -95px 0 0 -40px;
  z-index: -1;
}

.headerMainButtons {
  padding: 10px;
  display: inline;
  text-align: center;
  margin: -15px;
}

.headerMainButtons p {
  margin: 0;
}

.headerMainButtons button {
  background-color: #131313;
  border: 0;
  padding: 0;
  height: 50px;
  width: 25px;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px #999999, inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
          box-shadow: 3px 3px #999999, inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
}

.headerMainButtons button:hover {
  background-color: #2c2c2c;
}

.headerMainButtons button:active {
  -webkit-box-shadow: inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
          box-shadow: inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.headerMainButtons button:focus {
  outline: 0;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

.beta {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: -40px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.13);
}

.mediaBars {
  z-index: 1;
  position: fixed;
  bottom: 40px;
  width: 200px;
  right: -125px;
}

.socialMediaPicture {
  width: 20px;
}

.socialMediaSingleBar {
  list-style-type: none;
  padding: 7px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 5px;
  margin: 3px;
}

.mediaBarText {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.socialMediaSingleBar:hover {
  -webkit-transform: translate(-120px);
          transform: translate(-120px);
}

#githubBar {
  background-color: #1b1b1b;
}

#artstationBar {
  background-color: #00a2ff;
}

#linkedinBar {
  background-color: #0051ff;
}

#emailBar {
  background-color: #910000;
}

.logoFullButton {
  z-index: 1;
  position: fixed;
  bottom: 10px;
  margin-left: 5px;
}

.logoFullButton:hover > .logoFullText {
  opacity: 1;
  -webkit-animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
          animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

.logoFull {
  width: 400px;
}

.logoFullText {
  font-size: 9px;
  margin: -8px 0 2px 10px;
  opacity: 0;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

#blurBackground {
  position: fixed;
  background-color: rgba(20, 20, 20, 0.781);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#OptionsMenu {
  z-index: 1;
  position: fixed;
  top: 15%;
  left: 5%;
  bottom: 10%;
  right: 10%;
}

.optionsButtonContainer {
  margin: 10px auto 0px auto;
  width: 90%;
  padding: 5px;
}

.optionsButtonContainer:hover {
  color: rgba(128, 128, 128, 0.356);
  cursor: pointer;
}

.optionsButtonContainer:hover .explainText {
  opacity: 1;
  -webkit-animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
          animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

.optionsButtonUi {
  width: 400px;
  position: fixed;
  margin: 0;
}

.optionsMenuButton {
  display: block;
  text-align: center;
  margin: 10px auto 0px auto;
  font-size: 20px;
}

.explainText {
  margin: 25px 0 0 50px;
  font-size: 10px;
  opacity: 0;
}

.credits {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.781);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#creditsFunctions {
  font-size: 30px;
  width: 50%;
  text-align: right;
  margin: 50px;
}

.creditsTextContainer {
  position: relative;
  -webkit-animation-name: credits;
          animation-name: credits;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#creditsFunctionAndNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}

.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#creditsNames {
  font-size: 30px;
  width: 50%;
  margin: 50px;
}

.creditTexts {
  margin-top: 75px;
}

.creditsButton {
  padding: 10px;
  position: fixed;
  bottom: 5%;
  width: 100px;
  text-align: center;
}

.creditsButton:hover {
  color: rgba(131, 131, 131, 0.575);
  cursor: pointer;
}

#endCreditsButton {
  right: 10%;
}

#pauzeCreditsButton {
  left: 10%;
}

.creditsButtonUi {
  position: fixed;
  width: 120px;
  margin: -45px 0 0 -60px;
}

.creditTextMargin {
  margin: 150px;
  padding: 150px;
}

#creditsHeader {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

#creditsFooterHeader {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

#creditFooter {
  font-size: 25px;
  text-align: center;
  width: 100%;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

.WebsiteLogo {
  height: 50px;
  display: block;
  margin: 0;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

.artsliderContainer {
  padding-bottom: 0;
}

.artsliderUi {
  position: absolute;
  margin-top: -70px;
  width: 90%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.artSlider {
  width: 85%;
  overflow: hidden;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 60px;
}

.backgroundArtSlider {
  margin-top: -200px;
  position: absolute;
  overflow: hidden;
  left: 0;
}

.sliderNav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliderNavButton {
  width: 50px;
  height: 10px;
  border: 2px solid rgba(255, 255, 255, 0.336);
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sliderNavButton:hover {
  background-color: rgba(255, 255, 255, 0.336);
}

.sliderRadioButtons {
  visibility: hidden;
  position: absolute;
}

.slides {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backgroundSlides {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliderArtSheetContainer {
  width: 20%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.backgroundSliderArtSheetContainer {
  width: 20%;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sliderArtSheet {
  width: 100%;
}

#sliderRadioButton1:checked ~ #firstSheet {
  margin-left: 0%;
}

#sliderRadioButton2:checked ~ #firstSheet {
  margin-left: -20%;
}

#sliderRadioButton3:checked ~ #firstSheet {
  margin-left: -40%;
}

#sliderRadioButton4:checked ~ #firstSheet {
  margin-left: -60%;
}

#sliderRadioButton5:checked ~ #firstSheet {
  margin-left: -80%;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #303030;
}

::-webkit-scrollbar-thumb {
  background: #272727;
}

#scrollBar {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
}

#scrollBar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#scrollBar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 120%;
  }
  100% {
    top: -220%;
  }
}

#particles-js {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@font-face {
  font-family: 'Mass Effect Game 123';
  src: local("Mass Effect Game 123"), url("../Fonts/MassEffectFont.ttf") format("ttf");
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#0d2f5c), to(#0f0f0f));
  background: linear-gradient(90deg, #0d2f5c 0%, #0f0f0f 100%);
  color: white;
  margin: 200px 10px 100px 10px;
  padding-bottom: 30px;
}

.list li {
  list-style-type: none;
  background: url("../Images/UI/sideBar.png") no-repeat left 5px;
  background-size: 25px;
  padding-left: 30px;
  margin-top: 5px;
  display: block;
}

.headerPageName {
  z-index: 1;
  position: fixed;
  font-size: 20px;
  opacity: 0.5;
  margin-top: -190px;
  margin-left: 80px;
  height: 0px;
}

.backgroundDivTitles {
  position: absolute;
  font-size: 20vw;
  color: rgba(173, 173, 173, 0.151);
  margin-top: -80px;
  z-index: -1;
  text-align: center;
  width: 450px;
}

.introPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(#0f0f0f), to(#0d2f5c));
  background: linear-gradient(0deg, #0f0f0f 0%, #0d2f5c 100%);
  z-index: 2;
}

.introLogo {
  height: 75px;
  display: block;
  top: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  position: fixed;
}

#starWarsIntro {
  border: solid black 5px;
  width: 80%;
  height: 500px;
  padding: 5%;
  margin: 50px auto 0 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.introContinueButton {
  font-size: 25px;
  position: fixed;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.introContinueButtonUi {
  z-index: -1;
  width: 300px;
  position: absolute;
  margin: -5px 0 0 -200px;
}

.homePageText {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(43, 43, 43, 0.075);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
          box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
  padding: 50px 10px 50px 10px;
  margin: 50px 5% 20px 5%;
}

#homeTextHeader {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.homeTextContent {
  font-size: 25px;
}

.homeFooter {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(43, 43, 43, 0.075);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
          box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
  padding: 10px;
  padding-bottom: 40px;
  margin: 5% 0 0 0;
  font-size: 25px;
  text-align: center;
}

.homeIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
}

.homeIconDiv {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 20px;
  padding: 20;
  text-align: center;
}

.programIcon {
  width: 50px;
  height: 50px;
  margin: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.programIcon:hover {
  width: 75px;
  height: 75px;
}

.programIcon:hover + .iconName {
  font-size: 25px;
}

.iconName {
  margin: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#aboutMeIntro {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(43, 43, 43, 0.075);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
          box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
}

#characterImg {
  height: 400px;
  margin: 300px 0 0 0;
}

#characterSkills {
  margin: 10px 0 0 0px;
  font-size: 25px;
}

#characterSkillsHeader {
  margin-top: -15px;
  margin-left: -170px;
}

.list img {
  width: 100%;
}

.skillsProcentage {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.aboutMeQuotes {
  margin: 20% 5% 20% 5%;
}

.quoteContainer {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(43, 43, 43, 0.075);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
          box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
  background-color: rgba(0, 140, 255, 0.151);
  width: 300px;
  margin-top: 100px;
  padding: 5px 30px;
  border-radius: 10px;
}

#quote2 {
  margin-left: auto;
  margin-right: 0;
}

.quoteText {
  font-size: 30px;
}

.quotePerson {
  font-style: oblique;
  font-size: 25px;
  text-align: end;
}

.quotePerson:before {
  display: inline-block;
  content: "";
  border-top: 3px solid white;
  width: 60px;
  margin-right: 10px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#characterSheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mySoftwareSkillsContainer {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(43, 43, 43, 0.075);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
          box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
  padding: 0;
  margin: 40% 0 40% 0;
}

#mySoftwareSkills {
  display: inline;
  margin: 0;
}

#mySoftwareSkillsHeader {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

#mySoftwareSkillsText {
  width: 100%;
  font-size: 25px;
  padding: 0;
}

.mySoftwareSkillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.aboutMeIconDiv {
  width: 70px;
  height: 70px;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 10px;
}

.aboutMeIconDiv img {
  width: 70px;
  height: 70px;
  margin: 0px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.aboutMeIconDiv img:hover {
  width: 100px;
  height: 100px;
}

.aboutMeIconDiv img:hover + .iconName {
  font-size: 25px;
}

.diplomaContainer {
  margin: 30% 5%;
}

.wincDiploma {
  width: 60%;
  border: solid gold 2px;
  -webkit-box-shadow: 0px 0px 5px 2px #ffd900;
          box-shadow: 0px 0px 5px 2px #ffd900;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#aboutMeFooter {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(43, 43, 43, 0.075);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
          box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
  padding: 10px;
  font-size: 25px;
  display: inline;
}

#aboutMeFooter p {
  margin-right: 30px;
}

.headshot {
  height: 300px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20%;
}

.artHeader {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(43, 43, 43, 0.075);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
          box-shadow: 0 0 15px 15px rgba(43, 43, 43, 0.075);
  margin: 0 0 20% 0;
  padding: 10px;
}

.headerArtSheet {
  width: 100%;
}

.artHeaderDescription {
  margin: 20px 10px 20px 10px;
}

.artSheet {
  width: 100%;
  margin: 10% 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.landstalkerColorButtonsContainer {
  margin: -10% 0 0 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landstalkerColorButton {
  margin: 0 0 0 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landstalkerColorButton:hover {
  cursor: pointer;
  color: gray;
}

.landstalkerColorButton p {
  width: 100px;
  font-size: 20px;
  text-align: center;
}

.landstalkerColorButton img {
  position: absolute;
  margin: -50px 0 0 45px;
  width: 100px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .backgroundDivTitles {
    margin-top: -130px;
  }
  .WebsiteLogo {
    height: 60px;
    margin: 0 0 -20px -20px;
  }
  .headerPageName {
    font-size: 30px;
    margin-top: -140px;
    margin-left: 130px;
  }
  .logoFull3 {
    width: 350px;
  }
  .headerMainButtons {
    margin: 10px;
  }
  #optionsButton {
    padding-right: 40px;
  }
  #selectButton {
    padding-left: 40px;
  }
  #navigationMenu {
    margin-top: 20px;
  }
  .optionsButtonContainer {
    width: 400px;
  }
  .artsliderContainer {
    padding-top: 10%;
  }
  #homeTextHeader {
    font-size: 70px;
  }
  .homePageText {
    padding: 20px 0px 20px 0px;
    margin: 100px 5% 20px 5%;
  }
  .homeIconDiv {
    width: 125px;
    height: 125px;
    margin: 2%;
    font-size: 25px;
  }
  .programIcon {
    width: 75px;
    height: 75px;
  }
  .programIcon:hover {
    width: 125px;
    height: 125px;
  }
  #characterImg {
    height: 700px;
    margin: 150px 10px auto auto;
  }
  #characterSkills {
    margin: 0 20px 0 20px;
  }
  #characterSkillsHeader {
    margin-left: -310px;
  }
  .skillsProcentage {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
  }
  .quoteContainer {
    width: 400px;
    padding: 50px 100px;
  }
  .quoteText {
    font-size: 40px;
  }
  .quotePerson {
    font-size: 30px;
  }
  #mySoftwareSkillsContainer {
    padding: 20px 10px 40px 10px;
    margin: 0 5% 20% 5%;
  }
  #mySoftwareSkillsHeader {
    font-size: 40px;
  }
  .aboutMeIconDiv {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 25px 10px 25px 10px;
    font-size: 20px;
  }
  .aboutMeIconDiv img {
    width: 75px;
    height: 75px;
  }
  .wincDiploma {
    width: 60%;
  }
  .artSheet {
    width: 90%;
  }
  .artHeader {
    margin: 0 5%;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .backgroundDivTitles {
    margin-top: -200px;
  }
  .WebsiteLogo {
    height: 65px;
    margin: 0 0 10px -20px;
  }
  .headerPageName {
    font-size: 30px;
    margin-top: -140px;
    margin-left: 130px;
  }
  .logoFull3 {
    width: 350px;
  }
  .headerMainButtons {
    margin: 10px;
  }
  #optionsButton {
    padding-right: 40px;
  }
  #selectButton {
    padding-left: 40px;
  }
  #navigationMenu {
    margin: 130px auto auto -90px;
  }
  .optionsButtonContainer {
    width: 400px;
  }
  .artsliderContainer {
    padding-top: 10%;
    margin-bottom: 300px;
  }
  #homeTextHeader {
    font-size: 70px;
  }
  .homePageText {
    padding: 20px 0px 20px 0px;
    margin: 100px 5% 20px 5%;
  }
  .homeIconDiv {
    width: 125px;
    height: 125px;
    margin: 2%;
    font-size: 20px;
  }
  .programIcon {
    width: 75px;
    height: 75px;
  }
  .programIcon:hover {
    width: 125px;
    height: 125px;
  }
  #aboutMeIntro {
    padding-top: 100px;
  }
  #characterImg {
    height: 900px;
    margin: 150px 20px auto 0px;
  }
  #characterSkills {
    margin: 0 0px 0 0px;
  }
  #characterSkillsHeader {
    margin-left: -410px;
  }
  .list {
    margin-top: 100px;
  }
  .list img {
    width: 400px;
  }
  .skillsProcentage {
    margin-top: 14px;
    margin-left: 30px;
    font-size: 25px;
  }
  .quoteContainer {
    width: 400px;
    padding: 50px 100px;
  }
  .quoteText {
    font-size: 40px;
  }
  .quotePerson {
    font-size: 30px;
  }
  #mySoftwareSkillsContainer {
    padding: 20px 10px 40px 10px;
    margin: 0 5% 20% 5%;
  }
  #mySoftwareSkillsHeader {
    font-size: 40px;
  }
  .aboutMeIconDiv {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 25px 10px 25px 10px;
    font-size: 20px;
  }
  .aboutMeIconDiv img {
    width: 75px;
    height: 75px;
  }
  #mySoftwareSkills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mySoftwareSkillsText {
    width: 40%;
  }
  .mySoftwareSkillsIcons {
    width: 60%;
  }
  .wincDiploma {
    width: 500px;
  }
  #aboutMeFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headshot {
    height: 300px;
    margin: 0 50px 0 10px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    border-radius: 20%;
  }
  .artSheet {
    width: 90%;
  }
  .artHeader {
    margin: 0 5%;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  #starWarsIntro {
    width: 1000px;
    padding: 75px;
  }
  .backgroundDivTitles {
    margin-top: -200px;
  }
  .WebsiteLogo {
    height: 65px;
    margin: 0 0 10px -20px;
  }
  .headerPageName {
    font-size: 30px;
    margin-top: -140px;
    margin-left: 130px;
  }
  .logoFull3 {
    width: 350px;
  }
  .headerMainButtons {
    margin: 10px;
  }
  #optionsButton {
    padding-right: 40px;
  }
  #selectButton {
    padding-left: 40px;
  }
  #navigationMenu {
    margin: 130px auto auto -90px;
  }
  .optionsButtonContainer {
    width: 400px;
  }
  .artsliderContainer {
    padding-top: 10%;
    margin-bottom: 300px;
  }
  #homeTextHeader {
    font-size: 70px;
  }
  .homePageText {
    padding: 20px 0px 20px 0px;
    margin: 100px 5% 20px 5%;
  }
  .homeIconDiv {
    width: 125px;
    height: 125px;
    margin: 2%;
    font-size: 20px;
  }
  .programIcon {
    width: 75px;
    height: 75px;
  }
  .programIcon:hover {
    width: 125px;
    height: 125px;
  }
  #aboutMeIntro {
    padding-top: 100px;
  }
  #characterImg {
    height: 900px;
    margin: 150px 50px auto 100px;
  }
  #characterSkills {
    margin: 0 0px 0 0px;
  }
  #characterSkillsHeader {
    margin-left: -410px;
    margin-right: 70px;
  }
  .list {
    margin-top: 100px;
  }
  .list img {
    width: 400px;
  }
  .skillsProcentage {
    margin-top: 14px;
    margin-left: 30px;
    font-size: 25px;
  }
  .quoteContainer {
    width: 400px;
    padding: 50px 100px;
  }
  .quoteText {
    font-size: 40px;
  }
  .quotePerson {
    font-size: 30px;
  }
  #mySoftwareSkillsContainer {
    padding: 20px 10px 40px 10px;
    margin: 0 5% 20% 5%;
  }
  #mySoftwareSkillsHeader {
    font-size: 40px;
  }
  .aboutMeIconDiv {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 25px 10px 25px 10px;
    font-size: 20px;
  }
  .aboutMeIconDiv img {
    width: 75px;
    height: 75px;
  }
  #mySoftwareSkills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mySoftwareSkillsText {
    width: 40%;
  }
  .mySoftwareSkillsIcons {
    width: 60%;
  }
  .wincDiploma {
    width: 500px;
  }
  #aboutMeFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headshot {
    height: 300px;
    margin: 0 50px 0 10px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    border-radius: 20%;
  }
  .artSheet {
    width: 90%;
  }
  .artHeader {
    margin: 0 5%;
  }
}

@media (min-width: 1601px) and (max-width: 3500px) {
  #starWarsIntro {
    width: 1000px;
    padding: 75px;
  }
  .webPages {
    width: 1600px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .backgroundDivTitles {
    margin-top: -350px;
    font-size: 400px;
  }
  .WebsiteLogo {
    height: 80px;
    margin: 0 0 10px 0;
  }
  .headerPageName {
    font-size: 30px;
    margin-top: -140px;
    margin-left: 130px;
  }
  #header {
    width: 1600px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logoFull3 {
    width: 350px;
  }
  .headerMainButtons {
    margin: 10px;
  }
  #optionsButton {
    padding-right: 40px;
  }
  #selectButton {
    padding-left: 40px;
  }
  #navigationMenu {
    margin: 130px auto auto -90px;
  }
  .optionsButtonContainer {
    width: 400px;
  }
  .artsliderContainer {
    padding-top: 10%;
    margin-bottom: 500px;
  }
  #homeTextHeader {
    font-size: 70px;
  }
  .homePageText {
    padding: 20px 0px 20px 0px;
    margin: 100px 5% 20px 5%;
  }
  .homeIconDiv {
    width: 125px;
    height: 125px;
    margin: 2%;
    font-size: 20px;
  }
  .programIcon {
    width: 75px;
    height: 75px;
  }
  .programIcon:hover {
    width: 125px;
    height: 125px;
  }
  #aboutMeIntro {
    padding-top: 200px;
  }
  #characterImg {
    height: 900px;
    margin: 150px 150px auto 200px;
  }
  #characterSkills {
    margin: 0 0px 0 0px;
  }
  #characterSkillsHeader {
    margin-left: -590px;
    margin-right: 100px;
  }
  .list {
    margin-top: 100px;
  }
  .list img {
    width: 400px;
  }
  .skillsProcentage {
    margin-top: 14px;
    margin-left: 30px;
    font-size: 25px;
  }
  .quoteContainer {
    width: 400px;
    padding: 50px 100px;
  }
  .quoteText {
    font-size: 40px;
  }
  .quotePerson {
    font-size: 30px;
  }
  #mySoftwareSkillsContainer {
    padding: 20px 10px 40px 10px;
    margin: 0 5% 20% 5%;
  }
  #mySoftwareSkillsHeader {
    font-size: 40px;
  }
  .aboutMeIconDiv {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 25px 10px 25px 10px;
    font-size: 20px;
  }
  .aboutMeIconDiv img {
    width: 75px;
    height: 75px;
  }
  #mySoftwareSkills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mySoftwareSkillsText {
    width: 40%;
  }
  .mySoftwareSkillsIcons {
    width: 60%;
  }
  .wincDiploma {
    width: 500px;
  }
  #aboutMeFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headshot {
    height: 300px;
    margin: 0 50px 0 10px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    border-radius: 20%;
  }
  .artSheet {
    width: 90%;
  }
  .artHeader {
    margin: 0 5%;
  }
}
/*# sourceMappingURL=style.css.map */