@-webkit-keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

#header {
  margin: -175px 0px 10px 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#navigationMenu {
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
          box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
  float: left;
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.navLink {
  text-decoration: none;
  color: white;
  text-align: center;
  border-style: solid;
  border-color: #0004ff;
  float: left;
  width: 100px;
  margin: 5px;
  border-radius: 10px;
}

.navLink:hover {
  background: rgba(43, 43, 43, 0.432);
}

#optionsButton {
  float: right;
  width: 60px;
  margin-right: 60px;
}

#selectButton {
  float: left;
  width: 60px;
  margin-left: 40px;
}

.headerMainButtons {
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
          box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
  padding: 10px;
  display: inline;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.headerMainButtons p {
  margin: 0;
}

.headerMainButtons button {
  background-color: #131313;
  border: 0;
  padding: 0;
  height: 50px;
  width: 25px;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px #999999, inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
          box-shadow: 3px 3px #999999, inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
}

.headerMainButtons button:hover {
  background-color: #2c2c2c;
}

.headerMainButtons button:active {
  -webkit-box-shadow: inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
          box-shadow: inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.headerMainButtons button:focus {
  outline: 0;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

.mediaBars {
  z-index: 1;
  position: fixed;
  bottom: 40px;
  width: 200px;
  right: -125px;
}

.socialMediaPicture {
  width: 20px;
}

.socialMediaSingleBar {
  list-style-type: none;
  padding: 7px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 5px;
  margin: 3px;
}

.mediaBarText {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.socialMediaSingleBar:hover {
  -webkit-transform: translate(-120px);
          transform: translate(-120px);
}

#githubBar {
  background-color: #1b1b1b;
}

#artstationBar {
  background-color: #00a2ff;
}

#linkedinBar {
  background-color: #0051ff;
}

#emailBar {
  background-color: #910000;
}

.logoFullButton {
  z-index: 1;
  position: fixed;
  bottom: 40px;
  margin-left: 5px;
}

.logoFullButton:hover > .logoFullText {
  opacity: 1;
  -webkit-animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
          animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

.logoFull {
  width: 200px;
}

.logoFullText {
  font-size: 9px;
  margin: -8px 0 2px 10px;
  opacity: 0;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

#blurBackground {
  position: fixed;
  background-color: rgba(20, 20, 20, 0.781);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#OptionsMenu {
  position: fixed;
  top: 15%;
  left: 10%;
  bottom: 10%;
  right: 10%;
}

.optionsButtonContainer {
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
          box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
  margin: 30px auto 0px auto;
  width: 400px;
  padding: 5px;
}

.optionsButtonContainer:hover {
  background-color: rgba(128, 128, 128, 0.356);
  cursor: pointer;
}

.optionsButtonContainer:hover .explainText {
  opacity: 1;
  -webkit-animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
          animation: animated-text 0.5s steps(30, end) 0s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

.optionsMenuButton {
  display: block;
  text-align: center;
  margin: 10px auto 0px auto;
  font-size: 20px;
}

.explainText {
  margin: 0px 0 0px 5px;
  font-size: 10px;
  opacity: 0;
}

.credits {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.781);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#creditsFunctions {
  font-size: 30px;
  width: 50%;
  text-align: right;
  margin: 50px;
}

.creditsTextContainer {
  position: relative;
  -webkit-animation-name: credits;
          animation-name: credits;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#creditsFunctionAndNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}

.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#creditsNames {
  font-size: 30px;
  width: 50%;
  margin: 50px;
}

.creditTexts {
  margin-top: 75px;
}

.endCreditsButton {
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
          box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
  padding: 10px;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.endCreditsButton:hover {
  background-color: rgba(131, 131, 131, 0.575);
  cursor: pointer;
}

#pauzeCreditsButton {
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
          box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
  padding: 10px;
  position: fixed;
  left: 5%;
  bottom: 5%;
}

#pauzeCreditsButton:hover {
  background-color: rgba(131, 131, 131, 0.575);
  cursor: pointer;
}

.creditTextMargin {
  margin: 150px;
  padding: 150px;
}

#creditsHeader {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

#creditsFooterHeader {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

#creditFooter {
  font-size: 25px;
  text-align: center;
  width: 100%;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

.loadingIcon {
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
          box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
  height: 50px;
  display: block;
  margin: 11px auto 11px auto;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

.artsliderContainer {
  padding-bottom: 20%;
  overflow: hidden;
}

.artSlider {
  width: 65%;
  overflow: hidden;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 15%;
}

.sliderNav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliderNavButton {
  width: 50px;
  height: 10px;
  border: 2px solid rgba(255, 255, 255, 0.336);
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sliderNavButton:hover {
  background-color: rgba(255, 255, 255, 0.336);
}

.sliderRadioButtons {
  visibility: hidden;
  position: absolute;
}

.slides {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backgroundSlides {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.sliderArtSheetContainer {
  width: 20%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.backgroundSliderArtSheetContainer {
  width: 20%;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.sliderArtSheet {
  width: 100%;
  height: 100%;
}

#sliderRadioButton1:checked ~ #firstSheet {
  margin-left: 0%;
}

#sliderRadioButton2:checked ~ #firstSheet {
  margin-left: -20%;
}

#sliderRadioButton3:checked ~ #firstSheet {
  margin-left: -40%;
}

#sliderRadioButton4:checked ~ #firstSheet {
  margin-left: -60%;
}

#sliderRadioButton5:checked ~ #firstSheet {
  margin-left: -80%;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #303030;
}

::-webkit-scrollbar-thumb {
  background: #272727;
}

#scrollBar {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
}

#scrollBar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#scrollBar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-RGB {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes credits {
  0% {
    top: 150%;
  }
  100% {
    top: -250%;
  }
}

#particles-js {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@font-face {
  font-family: 'Mass Effect Game 123';
  src: local("Mass Effect Game 123"), url("../Fonts/MassEffectFont.ttf") format("ttf");
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#4b4b4b), to(#0f0f0f));
  background: linear-gradient(90deg, #4b4b4b 0%, #0f0f0f 100%);
  color: white;
  background-size: 100%;
  margin: 200px 10px 0 10px;
  padding-bottom: 30px;
}

#WIP {
  text-align: center;
  font-size: 50px;
  margin: 150px 0 150px 0;
  padding: 20px;
  border: solid 25px yellow;
  background: black;
}

.headerPageName {
  z-index: 1;
  position: fixed;
  font-size: 35px;
  opacity: 0.5;
  margin-top: -200px;
  margin-left: 150px;
}

.pageText {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px 50px 20px 50px;
  margin: 100px 10% 20px 10%;
}

#homeTextHeader {
  font-size: 75px;
  margin: 0;
  text-align: center;
}

.homeTextContent {
  font-size: 25px;
}

.homeFooter {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px;
  padding-bottom: 40px;
  margin: 3% 0 0 0;
  font-size: 25px;
}

.homeIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0;
}

.homeIconDiv {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 20px;
  text-align: center;
}

.programIcon {
  width: 100px;
  height: 100px;
  margin: 0px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.programIcon:hover {
  width: 150px;
  height: 150px;
}

.programIcon:hover + .iconName {
  font-size: 25px;
}

.iconName {
  margin: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#starWarsIntro {
  border: solid black 5px;
  height: 650px;
  padding: 20px 50px 20px 50px;
  margin: 0px 10% 150px 10%;
}

#aboutMeIntro {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px 50px 20px 50px;
  margin: 100px 10% 20px 10%;
}

#characterImg {
  height: 1000px;
  margin-right: 100px;
  border: solid 1px white;
  -webkit-box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
          box-shadow: 0px 0px 5px 2px #0ff, inset 0px 0px 5px 2px #0ff;
  -webkit-animation: animate-RGB 5s linear infinite;
          animation: animate-RGB 5s linear infinite;
}

#characterSkills {
  margin: 0 20px 0 20px;
  font-size: 30px;
}

#characterSheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mySoftwareSkillsContainer {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px 50px 40px 50px;
  margin: 100px 10% 20px 10%;
}

#mySoftwareSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mySoftwareSkillsHeader {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

#mySoftwareSkillsText {
  width: 35%;
  font-size: 30px;
  padding: 5%;
}

.mySoftwareSkillsIcons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40% 40%;
      grid-template-columns: 40% 40% 40%;
}

.homeIconDiv {
  padding: 20px;
  margin: 20px;
}

.wincDiploma {
  width: 30%;
  margin: 50px 35% 50px 35%;
  border: solid gold 5px;
  -webkit-box-shadow: 0px 0px 10px 5px #ffd900;
          box-shadow: 0px 0px 10px 5px #ffd900;
}

#aboutMeFooter {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headshot {
  width: 25%;
  border-radius: 20%;
  margin: 20px 10% 20px 20px;
}

.artHeader {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 0px 20% 20px 20%;
  padding: 10px;
}

.headerArtSheet {
  width: 100%;
}

.artHeaderDescription {
  margin: 20px 10px 20px 10px;
}

.artSheet {
  width: 70%;
  margin: 5% 15% 5% 15%;
}
/*# sourceMappingURL=style.css.map */