@import "./header";
@import "./variables";

body {
    background-image: url("../Images/BackgroundNoAnim.jpg");
    color: white;
    background-size: 100%;
}

.logoFull {
    position: fixed;
    margin-top: 42%;
    width: 200px;
    display: flex;
}

.artSheet {
    width: 80%;
    margin: 10%;
}

.miniIcon {
    width: 10%;
}

.midiumIcon {
    width: 20%;
}

//below is for the scrollbar
::-webkit-scrollbar {
    width: 15px;
    &-track {
        box-shadow: inset 0 0 5px rgb(75, 75, 75); 
        border-radius: 10px;
        background: rgb(172, 172, 172);
    }
    &-thumb {
        background: rgb(39, 39, 39); 
        border-radius: 10px;
        box-shadow: inset -2px -2px 2px #313131, inset 2px 2px 2px #747474;
        &:hover {
            background: rgb(29, 29, 29); 
        }
    }
}